<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template.xhtml">
	<ui:define name="content">
		<h:form>
			<h:panelGrid columns="2" cellpadding="5" cellspacing="5">
				<h:outputText value="Kullanıcı" />
				<h:inputText value="#{adminUserCreate.user.username}" />
				<h:outputText value="Şifre" />
				<h:inputText value="#{adminUserCreate.user.password}" />
				<h:outputText value="Ad Soyad" />
				<h:inputText value="#{adminUserCreate.user.fullname}" />
				<h:outputText value="Rol" />
				<h:selectOneMenu value="#{adminUserCreate.user.role}" styleClass="width-max">
					<f:selectItem itemValue="ADMIN" itemLabel="Yönetici" />
					<f:selectItem itemValue="EDITOR" itemLabel="Editör" />
					<f:selectItem itemValue="WRITER" itemLabel="Yazar" />
				</h:selectOneMenu>
				<h:panelGroup/>
				<h:commandButton action="#{adminUserCreate.save()}" value="Kaydet" styleClass="large width-max"/>
			</h:panelGrid>

		</h:form>
	</ui:define>
</ui:composition>
