<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template.xhtml">
	<ui:define name="content">
		<p>
			<h:button value="Yeni Kullanıcı" outcome="/admin/user/create" styleClass="large"/>
		</p>
		<h:dataTable value="#{adminUserList.userList}" var="user" styleClass="datatable">
			<h:column>
				<f:facet name="header">İşlem</f:facet>
				<h:link value="Güncelle" outcome="/admin/user/edit">
					<f:param name="id" value="#{user.id}" />
				</h:link>
			</h:column>
			<h:column>
				<f:facet name="header">Kullanıcı</f:facet>
				<h:outputText value="#{user.username}" />
			</h:column>
			<h:column>
				<f:facet name="header">Ad Soyad</f:facet>
				<h:outputText value="#{user.fullname}" />
			</h:column>
			<h:column>
				<f:facet name="header">Rol</f:facet>
				<h:outputText value="#{user.role}" />
			</h:column>
			<h:column>
				<f:facet name="header">Durum</f:facet>
				<h:outputText value="#{user.active?'Aktif':'Silindi'}" />
			</h:column>
		</h:dataTable>

	</ui:define>
</ui:composition>
