@CHARSET "UTF-8";

html, body {
	padding: 0px;
	margin: 0px;
	font-size: 1.1em;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#header {
	padding: 10px;
	background-color: #eee;
	height: 60px;
}

#menu {
	background-color: #ddd;
	padding: 0px;
	border: 1px solid #EEE9E9;
	font-size: 0.9em;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #EEE4E9;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}


#menu li a:hover {
	color: white;
    background-color: #111;
}

a {
	text-decoration: none;
	color: #888;
	font-weight: bold;
	font-size: 0.9em;
}

a:hover {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

#content {
	padding: 10px;
	background-color: #fff;
}

#footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
	padding: 10px;
	background-color: #ddd;
	position: fixed;
}



div.entry {
	border: 1px solid #EEE9E9;
	margin-bottom: 20px;
}

div.entry-title {
	background-color: #EEE9E9;
	padding: 5px 10px 5px 10px;
}

div.entry-body {
	padding: 10px;;
	background-color: #fff;
}

div.entry-footer {
	background-color: #EEE9E9;
	padding: 5px 10px 5px 10px;
}

input[type="text"] {
	padding: 2px 4px 2px 4px;
	font: 1.1em;
}

.width-max {
	width: 100%;
}

.datatable {
	border-collapse: collapse;
	border: 1px solid gray;
	width: 100%;
}

.datatable thead tr th {
	padding: 5px;
	border: 1px solid gray;
	background-color: #444;
	color: white;
}

.datatable tbody tr td {
	padding: 5px;
	border: 1px solid gray;
}

.datatable tbody tr:nth-child(even) {
	background: #CCC
}

.datatable tbody tr:nth-child(odd) {
	background: #FFF
}

input[type="button"].large,input[type="submit"].large {
	padding: 4px 7px 4px 7px;
	font-size: 1.1em;	
}

input[type="text"] {
	padding: 3px
}

select {
	padding: 3px;
}

