<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template.xhtml">
	<ui:define name="content">
		<h:form>
			<h:panelGrid styleClass="width-max">
				<h:outputText value="Başlık" />
				<h:inputText value="#{writerEntryCreate.entry.title}"
					styleClass="width-max" />
				<h:outputText value="Yazı" />
				<h:inputTextarea value="#{writerEntryCreate.entry.body}"
					styleClass="width-max" style="height:400px;padding:5px;" />
				<h:commandButton action="#{writerEntryCreate.save()}" value="Kaydet"  styleClass="large"/>
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
