<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template.xhtml">
	<ui:define name="content">
		<p>
			<h:button value="Yeni Yazı" outcome="/writer/entry/create" styleClass="large" />
		</p>
		<h:dataTable value="#{writerEntryList.entryList}" var="entry"
			styleClass="datatable">
			<h:column>
				<f:facet name="header">İşlem</f:facet>
				<h:link outcome="/writer/entry/edit" value="Düzenle">
					<f:param name="id" value="#{entry.id}" />
				</h:link>
				#{' '}
				<h:link outcome="/writer/entry/publish" value="Yayımla"
					rendered="#{entry.draft}">
					<f:param name="id" value="#{entry.id}" />
				</h:link>
			</h:column>

			<h:column>
				<f:facet name="header">Konu Başlığı</f:facet>
				<h:outputText value="#{entry.title}" />
			</h:column>
			<h:column>
				<f:facet name="header">Yazar</f:facet>
				<h:outputText value="#{entry.author.fullname}" />
			</h:column>
			<h:column>
				<f:facet name="header">Durum</f:facet>
				<h:outputText value="#{entry.status}" />
			</h:column>
		</h:dataTable>
	</ui:define>
</ui:composition>
