<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template.xhtml">
	<ui:define name="content">
		<h:form>
			<p>
				<h:commandButton action="#{writerEntryPublish.save()}"
					value="Yayımla" styleClass="large" />
			</p>
			<div class="entry">
				<div class="entry-title">
					<h:outputText value="#{writerEntryPublish.entry.title}" />
				</div>

				<div class="entry-body">
					<h:outputText value="#{writerEntryPublish.entry.body}" escape="false" />
				</div>
				<div class="entry-footer">
					<h:outputText value="Yazar : #{writerEntryPublish.entry.author.fullname}" />
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
