<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template.xhtml">
	<ui:define name="content">
		<ui:repeat var="entry" value="#{home.entryList}">
			<div class="entry">
				<div class="entry-title">
					<h:outputText value="#{entry.title}" />
				</div>
				<div class="entry-body">
					<h:outputText value="#{entry.body}" escape="false" />
				</div>
				<div class="entry-footer">
					<h:outputText value="#{entry.author.fullname}" />
					#{' | '}
					<h:outputText value="#{entry.publishDate}" />
				</div>
			</div>
		</ui:repeat>
	</ui:define>
</ui:composition>
