<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template.xhtml">
	<ui:define name="content">
		<h:form>
			<h:panelGrid cellpadding="5" cellspacing="5">
				<h:outputText value="Kullanıcı"
					style="font-size:1.1em;font-weight:bold" />
				<h:inputText value="#{login.username}"
					style="padding:5px;font-size:1.1em" />
				<h:outputText value="Şifre" style="font-size:1.1em;font-weight:bold" />
				<h:inputSecret value="#{login.password}"
					style="padding:5px;font-size:1.1em" />
				<h:commandButton value="Giriş" action="#{login.doLogin()}"
					styleClass="large width-max" />
			</h:panelGrid>
		</h:form>
		<h:messages globalOnly="true" style="color:red" />
	</ui:define>
</ui:composition>
