<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:outputStylesheet name="style.css" />

<h:head>
	<title>Simple Blog App.</title>
</h:head>
<body>
	<div id="header">Simple Blog Example , JSF JDBC</div>
	<div id="menu">
		<h:form>
			<ul>
				<li><h:link outcome="/login" value="Giriş Yap"
						rendered="#{not login.logged}" /></li>

				<li><h:commandLink action="#{login.doLogout()}" value="Çıkış"
						rendered="#{login.logged}" /></li>

				<li><h:link outcome="/editor/entry/list" value="Yazı Onayla"
						rendered="#{login.editor}" /></li>
				<li><h:link outcome="/writer/entry/list" value="Yazılarım"
						rendered="#{login.logged}" /></li>
				<li><h:link outcome="/admin/user/list" value="Kullanıcılar"
						rendered="#{login.admin}" /></li>

			</ul>

		</h:form>
	</div>

	<div id="content">
		<ui:insert name="content" />
	</div>

</body>
</html>
